{% extends '_shared/_layout.twig' %}

{% block main %}

	<!-- Categories section -->
	<div class="container-fluid c-section ">
		<div
			class="c-categories">
			<!-- todo: Roep All Categories op en pas de title en subtitle aan.  -->
			{% set allCategories = craft.entries.section('categories').level(1).one()	 %}
			<h2 class="c-section__title">All Categories</h2>
			<p class="c-section__subtitle">What type of home are you looking for ?</p>

			<!-- todo: Roep alle children van All  Categories op en loop ze over de cards. Vul de link, title en image dynamisch toe -->
			{% set categories = allCategories.children.all() %}
			<!-- categories -->
			<div
				class="row g-3 justify-content-center c-section__content">
				<!-- category card  -->

				{% for categorie in categories %}
					<a href="{{ categorie.url }}" class="c-categories__card col-12 col-sm-3 col-lg-2">
						<div class="c-categories__info">
							<h3 class="c-categories__title">{{ categorie.title }}</h3>
							<p class="">2 properties</p>
						</div>
						<div class="c-categories__imgcontainer">
							<img src="{{ categorie.cover.one.url() }}" alt="" class="c-categories__img">
						</div>
					</a>
				{% endfor %}
			</div>
		</div>

	</div>


{% endblock %}
